.App {
  text-align: center;
}

.user-ui-container{
  width:200px;
  /* construction */
  /* border:1px solid rgb(131,131,131); */
  /* construction */
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
}


.user-ui{
  display:flex;
  flex-direction:column;
}

.user-ui label{
  text-align:left;
}

.user-ui input{
  margin-bottom: 10px;
}

.user-ui button{
  width:4rem;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.info-panel{
  width:800px;
  margin-top:2rem;
  margin-left:auto;
  margin-right:auto;
}


.tracker-panel{
  
}

.stats-panel{
  width:200px;
  padding:1rem;
  border:2.5px solid rgb(58, 58, 58);
  margin-bottom:1rem;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}

.forecast-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.forecast-panel{
  border:2.5px solid rgb(255, 117, 83);
  width:5rem;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
}

.forecast-panel .top{
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (max-width:800px){
  .info-panel{
    width:500px;
  }

  .forecast-container{
    flex-direction: column;
  }

  .forecast-panel{
    margin-left: auto;
    margin-right:auto;
    margin-bottom:2rem;
  }
}

@media (max-width:528px){
  .info-panel{
    width:300px;
  }
}