.App {
  text-align: center;
}

.user-ui-container{
  width:200px;
  /* construction */
  /* border:1px solid rgb(131,131,131); */
  /* construction */
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
}


.user-ui{
  display:flex;
  flex-direction:column;
}

.user-ui label{
  text-align:left;
}

.user-ui input{
  margin-bottom: 10px;
}

.user-ui button{
  width:4rem;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.info-panel{
  width:800px;
  /* construction */
  border:1px solid rgb(131,131,131);
  /* construction */
  margin-top:2rem;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width:800px){
  .info-panel{
    width:500px;

  }
}

@media (max-width:528px){
  .info-panel{
    width:300px;
  }
}